
.caret-off::after {
  display: none;
}

.width-100 { 
  width:100%
}

.width-75 { 
  width:75%
}

.width-50 { 
  width:50%
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 4px 10px;
  vertical-align: middle;
}

.hyphenate {
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.table-borderless td,
.table-borderless th {
  border: 0;
}

.text-right { 
    text-align: right; 
}
